<h1>Dashboard</h1>
<ul>
    <li>
        <form action="{% url 'dashboard-generic' %}" method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="command" value="csv_file_upload">
            CSV File Upload: <input type="file" class="form-control-file" id="csv_file_upload" name="csv_file_upload">
            <input type="submit">
        </form>
    </li>

    <li>
        <form action="{% url 'dashboard-generic' %}" method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="command" value="execute_task">
            Execute the tasks: <input type="submit" value="Go!">
        </form>
    </li>


    <li>
        <form action="{% url 'dashboard-generic' %}" method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="command" value="load_data">
            Enqueue: <input type="submit" value="Go!">
        </form>
    </li>


    <li>
        <form action="{% url 'dashboard-generic' %}" method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="command" value="aggregate">
            Aggregate: <input type="submit" value="Go!">
        </form>
    </li>

    <li>
        <form action="{% url 'dashboard-generic' %}" method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="command" value="reset">
            Reset Database: <input type="submit" value="Go!">
        </form>
    </li>
</ul>